// Reset

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 100%; /* ( / 16pixels de base) ici 1rem = 10pixels */
}

body{
    font-family: sans-serif;
    font-size: 1.6rem;  /*taille en em prend comme référence la taille de son parent le plus proche*/
}

img{
    max-width: 100%;
}

a:not([target="_blank"]){
    text-decoration: none;  
}

// Common

// Colors

$red: #fe0100;
$watermelon: #f45b69;
$aubergine: #22181c;
$white: #ffffff;
$black: #22181c;
$lightgrey: #faf7f7;
$darkblue: #0000ff;

// Fonts

@font-face {
    font-family: 'Pistilli';
    src: url(/assets/fonts/Pistilli-Roman.otf);
}

$font-primary: 'Pistilli';
$font-second: 'Montserrat', sans-serif;

// Headings

h1, h2 {
    font-family: $font-primary;
    font-weight: normal;
    color: $red;

}

h1 {
    font-size: 5em;
    letter-spacing: 10px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 25px;

}

h3, h4, p {
    color: $black;
}

// Buttons

// Submit form

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 20px;
    color: $white;
    font-weight: 100;
    font-size: 0.6em;
    text-transform: uppercase;
    background-color: $red;
    border: 2px solid red;
    border-radius: 3px;
    transition: 0.3s;

    &:hover {
        color:$red;
        background-color: $white;
    }

    &:focus {
        border:2px solid $darkblue;
    }

    &:active {
        color: $red;
        background-color: $white;
    }


}


// Header
header {
    nav > ul {
        padding: 25px 10px 20px 40px;
        margin-bottom: 20px;
    
        & li {
            display: inline-block;
            margin: 5px 25px;
            list-style: none;
            
            & a {
                position: relative;
                color: $red;
                font-family: $font-primary;
                font-size: 1.2em;
                
    
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 50px;
                        height: 1.6px;
                        background: red;
                        border-radius: 10px;
                        transition: width 1s;
    
                    }
    
                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }
            
        }
    }
    #hello {
        text-align: center;
        position: relative;
    }

    #translation {
        position: absolute;
        top: 3%;
        left: 1%;

        .translation_lang {
            font-weight: 100;
            font-size: 0.7em;
            color: $white;
        }

        .translation_fr {
            position: relative;
          
              &:after {
                content: "|";
                color: $white;
                position: absolute;
                font-size: 0.7em;
                top: 2px;
                right: -6px;
              }
          }

        .translation_en {
            margin-left: 3px;
        }
    }

    .hello_title {
        margin-top: -83px;
        margin-bottom: 20px;
    }

    .hello_text {
        margin-bottom: 25px;
    }

    .scrolldown {
        height: 20px;
        text-align: center;
        position: relative;

        img {
            position: absolute;
            height: 32px;
            width: 32px;
            -webkit-animation-name: bounce;
            animation-name: bounce;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }

        @keyframes bounce{
            from {top: 20px;}
            50%  {top: 10px;}
            to   {top: 20px;}
       }
    }
}

// Projets

.allprojects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block-project {
    width: 15%;
    height: 25vw;
    margin: 2vw 5vw;
    padding: 25px 10px;
    text-align: center;
    background-color: #faf7f7;
}

.block-project_image {
    max-width: 12vw;
}

// Formulaire de contact

.form-contact {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-image: linear-gradient(to top, #4683b6 0%, #a6c2cd 100%);
    -webkit-box-shadow: 7px 5px 21px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 7px 5px 21px -5px rgba(0,0,0,0.4);
    box-shadow: 7px 5px 21px -5px rgba(0,0,0,0.4);

    h2 {
        height: 125px;
        margin-bottom: -47px;
        padding-top: 44px;
        text-align: center;
        background: rgb(33,79,131);
        background: linear-gradient(rgba(33,79,131,1) 0%, rgba(120,179,200,1) 70%, rgba(173,198,207,1) 100%);
    }

    form {
        text-align: left;
        padding: 3vw 2vw 2vw 13vw;
        background-color: $lightgrey;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-family: $font-second;
        font-size: 0.5em;
        font-weight: bold;
        text-transform: uppercase;

        & span {
            color: $red;
        }
    }

    #fname, #lname, #mail, #subject{
        margin-bottom: 10px;
        padding: 5px;
        border: 2px solid;  
        border-radius: 3px;
    }

    #fname, #lname, #mail {
        width: 12vw;
        height: 35px;
    }

    #subject {
        width: 20vw;
        height: 160px;
    }

}