@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  /* ( / 16pixels de base) ici 1rem = 10pixels */
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  /*taille en em prend comme référence la taille de son parent le plus proche*/
}

img {
  max-width: 100%;
}

a:not([target="_blank"]) {
  text-decoration: none;
}

@font-face {
  font-family: 'Pistilli';
  src: url(/assets/fonts/Pistilli-Roman.otf);
}

h1, h2 {
  font-family: "Pistilli";
  font-weight: normal;
  color: #fe0100;
}

h1 {
  font-size: 5em;
  letter-spacing: 10px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 25px;
}

h3, h4, p {
  color: #22181c;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 7px 20px;
  color: #ffffff;
  font-weight: 100;
  font-size: 0.6em;
  text-transform: uppercase;
  background-color: #fe0100;
  border: 2px solid red;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover {
  color: #fe0100;
  background-color: #ffffff;
}

input[type="submit"]:focus {
  border: 2px solid #0000ff;
}

input[type="submit"]:active {
  color: #fe0100;
  background-color: #ffffff;
}

header nav > ul {
  padding: 25px 10px 20px 40px;
  margin-bottom: 20px;
}

header nav > ul li {
  display: inline-block;
  margin: 5px 25px;
  list-style: none;
}

header nav > ul li a {
  position: relative;
  color: #fe0100;
  font-family: "Pistilli";
  font-size: 1.2em;
}

header nav > ul li a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 1.6px;
  background: red;
  border-radius: 10px;
  -webkit-transition: width 1s;
  transition: width 1s;
}

header nav > ul li a:hover:after {
  width: 100%;
}

header #hello {
  text-align: center;
  position: relative;
}

header #translation {
  position: absolute;
  top: 3%;
  left: 1%;
}

header #translation .translation_lang {
  font-weight: 100;
  font-size: 0.7em;
  color: #ffffff;
}

header #translation .translation_fr {
  position: relative;
}

header #translation .translation_fr:after {
  content: "|";
  color: #ffffff;
  position: absolute;
  font-size: 0.7em;
  top: 2px;
  right: -6px;
}

header #translation .translation_en {
  margin-left: 3px;
}

header .hello_title {
  margin-top: -83px;
  margin-bottom: 20px;
}

header .hello_text {
  margin-bottom: 25px;
}

header .scrolldown {
  height: 20px;
  text-align: center;
  position: relative;
}

header .scrolldown img {
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from {
    top: 20px;
  }
  50% {
    top: 10px;
  }
  to {
    top: 20px;
  }
}

@keyframes bounce {
  from {
    top: 20px;
  }
  50% {
    top: 10px;
  }
  to {
    top: 20px;
  }
}

.allprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block-project {
  width: 15%;
  height: 25vw;
  margin: 2vw 5vw;
  padding: 25px 10px;
  text-align: center;
  background-color: #faf7f7;
}

.block-project_image {
  max-width: 12vw;
}

.form-contact {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4683b6), to(#a6c2cd));
  background-image: linear-gradient(to top, #4683b6 0%, #a6c2cd 100%);
  -webkit-box-shadow: 7px 5px 21px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 5px 21px -5px rgba(0, 0, 0, 0.4);
}

.form-contact h2 {
  height: 125px;
  margin-bottom: -47px;
  padding-top: 44px;
  text-align: center;
  background: #214f83;
  background: -webkit-gradient(linear, left top, left bottom, from(#214f83), color-stop(70%, #78b3c8), to(#adc6cf));
  background: linear-gradient(#214f83 0%, #78b3c8 70%, #adc6cf 100%);
}

.form-contact form {
  text-align: left;
  padding: 3vw 2vw 2vw 13vw;
  background-color: #faf7f7;
}

.form-contact label {
  display: block;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.form-contact label span {
  color: #fe0100;
}

.form-contact #fname, .form-contact #lname, .form-contact #mail, .form-contact #subject {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid;
  border-radius: 3px;
}

.form-contact #fname, .form-contact #lname, .form-contact #mail {
  width: 12vw;
  height: 35px;
}

.form-contact #subject {
  width: 20vw;
  height: 160px;
}
/*# sourceMappingURL=styles.css.map */