@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  /* ( / 16pixels de base) ici 1rem = 10pixels */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  /*taille en em prend comme référence la taille de son parent le plus proche*/
  padding: 10px;
}

img {
  max-width: 100%;
}

a:not([target="_blank"]) {
  text-decoration: none;
}

@font-face {
  font-family: 'Pistilli';
  src: url(/assets/fonts/Pistilli-Roman.otf);
}

h1, h2, h3, h4 {
  margin-bottom: 10px;
}

h1, h2 {
  font-family: "Pistilli";
  font-weight: normal;
  color: #fe0100;
}

h1 {
  letter-spacing: 10px;
  font-size: 5rem;
}

h2 {
  letter-spacing: 2px;
  font-size: 4rem;
}

h3 {
  letter-spacing: 6px;
  font-family: "Pistilli";
  font-weight: normal;
  font-size: 3rem;
  color: #f45b69;
}

h4 {
  font-size: 1.2rem;
}

h4, p {
  color: #22181c;
}

p {
  margin-bottom: 10px;
}

label {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
}

/* Button */

button, input[type="submit"] {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #fe0100;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-image: none;
  border-style: none;
  border: 2px solid #fe0100;
  border-radius: 5px;
}

input[type="submit"] {
  margin-bottom: 20px;
  width: 150px;
  height: 35px;
}

/* Header */

.header__burger-button {
  background-color: #FFFFFF;
  color: #fe0100;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
}

.header__burger-line {
  display: block;
  margin-bottom: 10px;
  height: 3px;
  background: #fe0100;
  color: #fe0100;
  border-radius: 20px;
}

.header-visuals {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 60px;
}

/* .burger-menu {
  padding-top: 30px;
  width: 40px;
  height: 60px;
  background-image: url(/static/media/menu.c11c672b.svg);
  background-repeat: no-repeat;
  font-size: 0.8rem;
  color: #fe0100;
  text-transform: uppercase;
} */

header nav > ul {
  padding: 10px;
  margin-bottom: 20px;
}

/* padding: 25px 10px 20px 40px; */


header nav > ul li {
  display: block;
  margin: 5px 25px;
  list-style: none;
  text-align: left;  
}

header nav > ul li a {
  position: relative;
  color: #fe0100;
  font-family: "Pistilli";
  font-size: 1.2em;
}

header nav > ul li a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 3px;
  background: red;
  border-radius: 10px;
  -webkit-transition: width 1s;
  transition: width 1s;
}

header nav > ul li a:hover:after {
  width: 100%;
}

header #hello {
  text-align: center;
  position: relative;
}

header #translation {
  position: absolute;
  top: 3%;
  left: 1%;
}

header #translation .translation_lang {
  font-weight: 100;
  font-size: 0.7em;
  color: #ffffff;
}

header .hello_title {
  margin-top: -60px;
}

.go-home {
  display: inline-block;
  position: relative;
  top: -10px;
  margin: 10px 10px 10px 40px;
}

/* top: 30px; */


/* .menu {
  display: inline-block;
  margin-left: 70px;
} */

.menu {
  display: block;
  margin: auto;
}

/* Welcome */

.welcome {
  position: relative;
  text-align: center;
}

.welcome__title {
  font-size: 2.5rem;
  letter-spacing: 0;
}

.welcome__description {
  position: relative;
  top: -40px;
  padding: 10px;
}

.welcome__text, .projects__text {
  font-size: 1rem;
  text-align: center;
}

/* .welcome__description {
  position: relative;
  top: -60px;
  padding:10px;
} */

.translation {
  position: absolute;
  top: 20px;
  left: 20px;
}

.translation__lang {
  color: #FFFFFF;
  font-size: 1rem;
}

/* Skills */

.skills__title, .projects__title {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0;
}

.skills__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: 260px;
  border: 2px solid;
  /* margin: 20px; */
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
}

.skill__title {
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.skill__title::first-letter {
  letter-spacing: 5px;
  color: #FFFFFF;

}

.skill__title::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -7px;
  top: 0px;
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 20px;
  z-index: -1;
}

.skill--integration::first-letter {
  letter-spacing: 8px;
}

.skill--integration::before {
  left: -9px;
  top: 2px;
  height: 25px;
  width: 25px;
}

/* Projects */

.projects {
  margin-bottom: 50px;
}

.projects__title {
  padding: 10px;
}

.projects__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.projects__content::before {
  content:'';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./img/water.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-demo {
  display: block;
 /*  margin: 40px 60px; */
  margin: 20px;
  padding: 140px 10px 10px;
  /* width: 250px; */
  width: 100%;
  height: 250px;
  border: 2px solid #fe0100;
  background-color: #FFFFFF;
  background-color: rgba(255,255, 255, 0.6);
  text-align: center;
  z-index: 1;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.block-demo button {
  opacity: 0;

}

.block-demo, .block-demo button {
  transition: 0.3s;
}

.block-demo:hover {
  background-color: rgba(255,255, 255, 1);
}

.block-demo:hover button{
  opacity: 1;
}

/* Block demo Nature */

.block-demo--nature {
  background-image: url(./img/clients/nature_et_decouvertes.svg);
  background-position: center 15%;
}

/* Block demo SNCF */

.block-demo--sncf {
  background-image: url(./img/clients/sncf.svg);
  background-position: center 15%;
}

/* Block demo Monoprix */

.block-demo--monoprix {
  background-image: url(./img/clients/monoprix.svg);
  background-position: center 25%;
}

/* Block demo Dinh Van */

.block-demo--dinh {
  background-image: url(./img/clients/dinh_van.svg);
  background-position: center 25%;
  background-size: 75%;
}

.demo-dinh img {
  max-width: 200px;
}

/* Block demo Barbara */

.block-demo--barbara {
  background-image: url(./img/clients/barbara_bui.svg);
  background-position: center 25%;
  background-size: 90%;
}

/* Block demo Havea */

.block-demo--havea {
  background-image: url(./img/clients/havea.svg);
  background-position: center 25%;
  background-size: 80%;
}

/* Contact */

.contact {
  margin-bottom: 30px;
}

.form-contact {
  margin: 20px auto 30px;
  /* width: 50%; */
  width: 100%;
  -webkit-box-shadow: 4px 7px 16px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 7px 16px 2px rgba(0,0,0,0.35);
  box-shadow: 4px 7px 16px 2px rgba(0,0,0,0.35);
}

.form-contact form {
  padding: 20px 50px;
}

.form-contact__header {
  margin-bottom: 30px;
  padding: 10px;
  height: 70px;
  text-align: center;
  background: rgb(58,108,168);
  background: linear-gradient(180deg, rgba(58,108,168,1) 0%, rgba(99,167,198,1) 49%, rgba(173,199,208,1) 100%);
}

.form-contact__title {
  position: relative;
  top: 25px;
}

label[for="lname"], label[for="mail"]  {
  margin-right: 50px;
}

label[for="fname"] {
  margin-right: 15px;
}

label[for="subject"] {
  margin-right: 10px;
}

input, textarea {
  border-image: none;
  border-style: none;
  border: 1px solid;
}

input {
  margin-bottom: 10px;
  height: 30px;
  width: 200px;
  padding: 0 10px;
}

textarea {
  width: 100%;
  padding: 10px;
}

.form-contact__submit {
  text-align: right;
}

.form-contact__phone img{
  margin-right: 20px;
}

/* Footer */

footer {
  background-color: #fe0100;
  padding: 20px 10px;
  text-align: center;
}

.socials > a {
  display: inline-block;
  margin: 5px;
}

.footer-links {
  text-align: center;
}

.footer-links > a {
  margin: 0 5px;
  font-size: 1rem;
  color: #FFFFFF;
}

/* Content display */

.hidden {
  display: none;
}


/* Responsive Mobile First */

/* Desktop */
@media screen and (min-width: 768px) {
  .header__burger-menu {
    display: none;
  }

  .header-visuals, .menu {
    display: inline-block;
  }

  header nav > ul li {
    display: inline-block;
    margin: 5px 20px;
  }

  .welcome__description {
    position: relative;
    top: -60px;
    padding:10px;
  }

  .welcome__title {
    font-size: 5.5rem;
    letter-spacing: 0;
  }

  .welcome__text, .projects__text {
    font-size: 2rem;
  } 

  .skills__title, .projects__title {
    font-size: 3rem;
    text-align: left;
  }

  .skills__content {
    flex-direction: row;
  }

  .skill {
    width: 25%;
    margin: 20px;
  }

  .block-demo {
    margin: 40px 60px;
    width: 250px;
  }

  .form-contact {
    width: 50%;
  }
}
